html, body, section, ul, li, a, button, input, div, article, header {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background: transparent;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: sans-serif;
  background: lightgray;
}

.heading {
  margin: 0 auto;
  text-align: center;
  background: #0B1C0A;
  font-size: 36px;
  color: white;
  width: 700px;
}

.news-article {
  width: 250px;
  position: absolute;
  top: 41px;
  left: 2px;
  background: white;
  border: 1px solid black;
  padding: 15px 10px;
}

.news-article > a {
  display: block;
  color: blue;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bet-label {
  position: absolute;
  left: 5px;
  bottom: 50px;
  color: white;
}

.num-chips {
  position: absolute;
  left: 5px;
  bottom: 10px;
  color: white;
}

.player-bet {
  width: 40px;
  border: 1px solid black;
  background: white;
  display: block;
  position: absolute;
  left: 5px;
  bottom: 30px;
}


.game-area {
  background-image: url(./images/blackjack-table.png);
  background-size: auto;
  width: 700px;
  height: 450px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
}

.game-area-playing {
  z-index: -1;
  background-image: url(./images/blackjack-table-playing.png);
  background-size: auto;
  width: 700px;
  height: 450px;
  margin: 0 auto;
}

.dealer-area {
}

.dealer-cards {
  width: 350px;
  margin: 0 auto;
  padding: 20px 0px;
}

.dealer-cards > li {
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  width: 50px;
  margin-right: -50px;
}

.deck {
  margin-bottom: 20px;
}

.game-buttons {
  width: 500px;
  margin: 0 auto;
}

button:hover {
  background: black;
  color: lightgreen;
}

.deal-cards-button {
  background: lightgreen;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  display: block;
  top: 0px;
}

.hit-button {
  float: left;
  background: lightgreen;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  margin: auto;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.stay-button {
  float: right;
  background: lightgreen;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  margin: auto;
  margin-right: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.deck-cards {
  width: 350px;
  margin: 0 auto;
  margin-top: 20px;
}

.deck-cards > li {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  width: 50px;
}

.player-area {

}

.player-cards {
  width: 350px;
  margin: 0 auto;
}

.player-cards > li {
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  width: 50px;
  margin-right: -50px;
}

.player-score {
  color: white;
  width: 350px;
  margin: 0 auto;
  margin-top: 5px;
}

.game-over {
  margin-left: 70px;
  color: white;
  font-weight: bold;
  text-align: right;
}

.ace-hearts {
  background-image: url(./cards/ace-hearts.png);
  background-size: cover;
}
.two-hearts {
  background-image: url(./cards/two-hearts.png);
  background-size: cover;
}
.three-hearts {
  background-image: url(./cards/three-hearts.png);
  background-size: cover;
}
.four-hearts {
  background-image: url(./cards/four-hearts.png);
  background-size: cover;
}
.five-hearts {
  background-image: url(./cards/five-hearts.png);
  background-size: cover;
}
.six-hearts {
  background-image: url(./cards/six-hearts.png);
  background-size: cover;
}
.seven-hearts {
  background-image: url(./cards/seven-hearts.png);
  background-size: cover;
}
.eight-hearts {
  background-image: url(./cards/eight-hearts.png);
  background-size: cover;
}
.nine-hearts {
  background-image: url(./cards/nine-hearts.png);
  background-size: cover;
}
.ten-hearts {
  background-image: url(./cards/ten-hearts.png);
  background-size: cover;
}
.jack-hearts {
  background-image: url(./cards/jack-hearts.png);
  background-size: cover;
}
.queen-hearts {
  background-image: url(./cards/queen-hearts.png);
  background-size: cover;
}
.king-hearts {
  background-image: url(./cards/king-hearts.png);
  background-size: cover;
}
.ace-clubs {
  background-image: url(./cards/ace-clubs.png);
  background-size: cover;
}
.two-clubs {
  background-image: url(./cards/two-clubs.png);
  background-size: cover;
}
.three-clubs {
  background-image: url(./cards/three-clubs.png);
  background-size: cover;
}
.four-clubs {
  background-image: url(./cards/four-clubs.png);
  background-size: cover;
}
.five-clubs {
  background-image: url(./cards/five-clubs.png);
  background-size: cover;
}
.six-clubs {
  background-image: url(./cards/six-clubs.png);
  background-size: cover;
}
.seven-clubs {
  background-image: url(./cards/seven-clubs.png);
  background-size: cover;
}
.eight-clubs {
  background-image: url(./cards/eight-clubs.png);
  background-size: cover;
}
.nine-clubs {
  background-image: url(./cards/nine-clubs.png);
  background-size: cover;
}
.ten-clubs {
  background-image: url(./cards/ten-clubs.png);
  background-size: cover;
}
.jack-clubs {
  background-image: url(./cards/jack-clubs.png);
  background-size: cover;
}
.queen-clubs {
  background-image: url(./cards/queen-clubs.png);
  background-size: cover;
}
.king-clubs {
  background-image: url(./cards/king-clubs.png);
  background-size: cover;
}
.ace-spades {
  background-image: url(./cards/ace-spades.png);
  background-size: cover;
}
.two-spades {
  background-image: url(./cards/two-spades.png);
  background-size: cover;
}
.three-spades {
  background-image: url(./cards/three-spades.png);
  background-size: cover;
}
.four-spades {
  background-image: url(./cards/four-spades.png);
  background-size: cover;
}
.five-spades {
  background-image: url(./cards/five-spades.png);
  background-size: cover;
}
.six-spades {
  background-image: url(./cards/six-spades.png);
  background-size: cover;
}
.seven-spades {
  background-image: url(./cards/seven-spades.png);
  background-size: cover;
}
.eight-spades {
  background-image: url(./cards/eight-spades.png);
  background-size: cover;
}
.nine-spades {
  background-image: url(./cards/nine-spades.png);
  background-size: cover;
}
.ten-spades {
  background-image: url(./cards/ten-spades.png);
  background-size: cover;
}
.jack-spades {
  background-image: url(./cards/jack-spades.png);
  background-size: cover;
}
.queen-spades {
  background-image: url(./cards/queen-spades.png);
  background-size: cover;
}
.king-spades {
  background-image: url(./cards/king-spades.png);
  background-size: cover;
}
.ace-diamonds {
  background-image: url(./cards/ace-diamonds.png);
  background-size: cover;
}
.two-diamonds {
  background-image: url(./cards/two-diamonds.png);
  background-size: cover;
}
.three-diamonds {
  background-image: url(./cards/three-diamonds.png);
  background-size: cover;
}
.four-diamonds {
  background-image: url(./cards/four-diamonds.png);
  background-size: cover;
}
.five-diamonds {
  background-image: url(./cards/five-diamonds.png);
  background-size: cover;
}
.six-diamonds {
  background-image: url(./cards/six-diamonds.png);
  background-size: cover;
}
.seven-diamonds {
  background-image: url(./cards/seven-diamonds.png);
  background-size: cover;
}
.eight-diamonds {
  background-image: url(./cards/eight-diamonds.png);
  background-size: cover;
}
.nine-diamonds {
  background-image: url(./cards/nine-diamonds.png);
  background-size: cover;
}
.ten-diamonds {
  background-image: url(./cards/ten-diamonds.png);
  background-size: cover;
}
.jack-diamonds {
  background-image: url(./cards/jack-diamonds.png);
  background-size: cover;
}
.queen-diamonds {
  background-image: url(./cards/queen-diamonds.png);
  background-size: cover;
}
.king-diamonds {
  background-image: url(./cards/king-diamonds.png);
  background-size: cover;
}


.face-down {
  background-image: url(./cards/face-down-card.png);
  background-size: cover;
}

.footer {
  margin: 0 auto;
  width: 800px;
}

.footer-links {
  margin: 0 auto;
  width: 252px;
}

.footer-links > li {
  float: left;
  padding: 0px 5px;
  margin: 0px 10px;
}

.footer-links > li > a {
  padding: 2px;
  display: block;
}

.footer-links > li > a:hover {
  background: yellow;
  border-radius: 3px;
}

.footer-links > li > a > img {
  width: 50px;
}
